$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$nabred: #be0d00;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1170px) {
  .container {
    max-width: 1170px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.navbar-inverse {
  background-color: black;
}

.navbar-nav > li > a {
  font-size: 20px;
  padding: 20px 20px;
  i {
    font-size: 14px;
  }
}

.navbar-brand {
  padding: 5px 0;
}

.panel-nab-black {
  background-color: rgba(0,0,0,.75);
  color: white;
}

.panel-default {
  color: black;
}

.btn-nab {
  background-color: $nabred;
  border: none;
  color: white;
}

.panel-link {
  display: block;
}


.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
  background: url('../images/header.jpg') no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-fixed-height {
  background: url('../images/header.jpg') no-repeat center center scroll;
  background-size: cover;
    height: 500px;
    padding-top: 120px;
}

.img-center {
  margin: 0 auto;
}

section {
    padding: 0px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

section.cards {
  .panel-heading {
    min-height: 120px;
    background: url(../images/nab-credit-cards-bg-06.svg);
    .cardimage {
      margin: 10px 0;
      min-height: 120px;
      background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    }
  }
}
