<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<header class="image-bg-fixed-height">

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-nab-black">
          <div class="panel-body text-center">
            <div class="clear" style="height: 10px;"></div>
            <h2><strong>Here's what you looked on</strong></h2>
            <div class="clear" style="height: 20px;"></div>
            <a href="http://www.nab.com.au/personal/banking/credit-cards" class="panel panel-link panel-default col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <h1><i class="glyphicon glyphicon-credit-card"></i></h1>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12 text-left">
                        <h4 style="margin-bottom: 0px;"><strong>({{id}}) Yesterday, Wed 8th March</strong></h4>
                        <p style="margin-top: 0px;margin-bottom: 0px;"><em>Chester Hill NSW 2152</em></p>
                        <p>NAB Premium Card</p>
                    </div>
                </div>
            </a>
            <div class="clear" style="height: 60px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>