<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<header class="image-bg-fixed-height">

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-nab-black">
          <div class="panel-body text-center">
            <h1><strong>Retrieve your Store visit</strong></h1>
            <p>Enter your unique visitor code below <i class="glyphicon glyphicon-info-sign"></i></p>
            <form>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <input type="text" class="form-control input-lg text-center" ng-model="code" placeholder="Enter your code">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-lg btn-nab" ng-click="proceed(code)" ng-disabled="!code">Retrieve My Visit</button>
            </form>
            <div class="clear" style="height: 20px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
